@{
    ViewData["Title"] = "Inicio";
}

<div class="container mt-5 text-center">

    <h1 class="display-4 fw-bold text-uppercase"
        style="color:#ff00ff; text-shadow: 0 0 10px #ff00ff;">
        CATÁLOGO DE VIDEOJUEGOS
    </h1>

    <div class="mt-4 mb-5">

        <p class="fs-4 text-light">
            ¡Hola! Te presento esta colleccion de videjuegos, de igual manera te invito ha agregar tus favoritos,dejar tu reseña y descubrir joyas clásicas.
        </p>

    </div>

    <hr class="border border-danger border-2 opacity-75" />

    <div class="mt-5">

        <h2 class="fw-bold"
            style="color:#ff00ff; text-shadow: 0 0 10px #ff00ff;">

            ¿Qué es esto?

        </h2>

        <p class="fs-5 text-light mt-3">

            Esta app es un catálogo personal en donde puedes explorar mis videojuegos favoritos,
            organizados por género y consola.

            También puedes leer y escribir reseñas, y descubrir títulos que me marcaron de por vida.

        </p>

    </div>

</div>